<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head') %>

<body>
	<!-- Header -->
	<%- include('./partials/headerDeslogueado') %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<form class="formulario" action="/users/login" method="post">
                <div class="pregunta">
                    <label class="vacioForm" for="email">Email:</label>
                    <input class="completarForm" type="text" id="email" name="email" value="<%= oldData.email || '' %>"><br>
                    <% if (errors.email) { %>
                        <div class="error-msj text-danger"><%= errors.email.msg %></div>
                    <% } %>
                </div>

                <div class="pregunta">
                    <label class="vacioForm" for="contrase침a">Contrase침a:</label>
                    <input class="completarForm" type="password" id="contrase침a" name="password"><br>
                    <% if (errors.password) { %>
                        <div class="error-msj text-danger"><%= errors.password.msg %></div>
                    <% } %>
                </div>

                <div class="pregunta">
                    <label class="vacioForm" for="recordarme">Recordarme:</label>
                    <input class="completarForm" type="checkbox" id="recordarme" name="recordarme"><br>
                </div>

                <br>
                <button class="boton" type="submit">Iniciar Sesi칩n</button>
            </form> <!--no puedo hacer que se linkee en la pagina principal-->

		</div>
	</div>

	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>

</html>