<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head') %>
<body>
	<!-- Header -->
	<% if (locals.user != undefined) { %>
		<%- include('./partials/headerLogueado')  %>
	<% } else { %>
		<%- include('./partials/headerDeslogueado')  %>
	<% } %>
	<!-- /Header -->

	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title"><%=productos.nombre_producto%></h2> 
			<% if (locals.user && productos.tabla_usuario && locals.user.id == productos.tabla_usuario.id){ %>				
				<p class="product-detail-description">
					<a href="/product/edit/id/<%= productos.id %>">Editar Producto</a>
				</p>
				<form action="/product/destroy/id/<%= productos.id %>" method="POST">
					<button type="submit">Eliminar Producto</button>
				</form>
			<% } %>
		</div>
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src="<%=productos.imagen_producto%>" alt="<%=productos.nombre_producto%>" class="product-detail-img">
					<p class="product-detail-description">Publicado por: <a href="/user/profile/id/<%= productos.id_usuario%>"><%=productos.tabla_usuario.usuario%></a></p>
					<p class="product-detail-description"><%=productos.descripcion_producto%></p>
				</article>
				<div class="col-12 col-lg-4">
					<section class="comments">
						<h2 class="login">Comentarios:</h2>
						<%for (let i = 0; i <productos.tabla_comentarios.length; i++) { %> 
							<article>
							<img src="<%=productos.tabla_comentarios[i].tabla_usuario.foto_perfil%>" alt="">
							<div class="data">
								<p class="user">
								<strong> <a href="/user/profile/id/<%= productos.tabla_comentarios[i].id_usuario%>"><%=productos.tabla_comentarios[i].tabla_usuario.usuario%></a></strong>
								<br><%=productos.tabla_comentarios[i].texto_comentario%></p>
							</div>
						</article>
						<% } %>
					</section>
					<section>
						<% if (locals.user) { %>
							<form class="form" action="/product/id/<%= productos.id %>" method="post">
								<input class="form-input" type="text" value="" name="comentario"  placeholder="Agregar comentario">
								<% if (locals.errores&& errores.comentario) { %>
									<div class="error-msg">
										<%= errores.comentario.msg %>
									</div>
									<% } %>
										<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
							</form>
							<% } else{ %>
								<h2>Iniciar sesión para comentar</h2>
								<p class="login"><a href="/user/login">Iniciar sesión</a></p>	
							<% } %>
					</section>
					<hr>
				</div>
			</div>
		</div>
	</div>
	<!-- /product detail -->

	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->

</body>	
</html>