<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head') %>

<body>
	<!-- Header -->
	<% if (locals.user != undefined) { %>
		<%- include('./partials/headerLogueado')  %>
	<% } else { %>
		<%- include('./partials/headerDeslogueado')  %>
	<% } %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Cargar producto</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<form class="formsConsigna" action="/product/add" method="post">
				
				<div class="pregunta">
				<label class="vacioForm" for="imagen">Imagen:</label>
				<input class="completarForm" type="text" id="imagen" name="imagen">
				<% if (locals.errors && errors.imagen) { %>
					<div class = "error-msg" > <%= errors.imagen.msg %> </div>
				<% } %>
				</div><br>

				<div class="pregunta">
				<label class="vacioForm" for="producto">Nombre del producto:</label>
				<input class="completarForm" type="text" id="producto" name="producto">
				<% if (locals.errors && errors.producto) { %>
					<div class = "error-msg" > <%= errors.producto.msg %> </div>
				<% } %>
				</div><br>

				<div class="pregunta">
				<label class="vacioForm" for="descripcion">Descripcion:</label>
				<input class="completarForm" type="text" id="descripcion" name="descripcion">
				<% if (locals.errors && errors.descripcion) { %>
					<div class = "error-msg" > <%= errors.descripcion.msg %> </div> 
				<% } %>
				</div><br>

				<button class="boton" type="submit">Guardar Producto</button>
			  </form>
		</div>
	</div>
	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>

</html>