<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head') %>

<body>
	<!-- Header -->
	<%- include('./partials/headerLogueado') %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Editar mi perfil</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<form class="formulario" action="/user/profile" method="post">
				
				<div class="pregunta">
				<label class="vacioForm" for="email">Modificar Email:</label>
				<input class="completarForm" type="email" id="email" name="email"><br>
				<input type="hidden" name="oldEmail" value="<%= oldData.email || '' %>">
						<% if (errors && errors.email) { %>
							<div class="error-msg text-danger"><%= errors.email.msg %></div>
						<% } %>
				</div>

				<div class="pregunta">
				<label class="vacioForm" for="usuario">Modificar Usuario:</label>
				<input class="completarForm" type="text" id="usuario" name="usuario"><br>
				</div>

				<div class="pregunta">
				<label class="vacioForm" for="contrase単a">Modificar Contrase単a:</label>
				<input class="completarForm" type="password" id="contrase単a" name="contrase単a"><br>
				</div>

				<div class="pregunta">
				<label class="vacioForm" for="fecha_nacimiento">Modificar Fecha de Nacimiento:</label>
				<input class="completarForm" type="date" id="fecha_nacimiento" name="fecha_nacimiento"><br>
				</div>

				<div class="pregunta">
				<label class="vacioForm" for="nro_documento">Modificar Nro de Documento:</label>
				<input class="completarForm" type="number" id="nro_documento" name="nro_documento"><br>
				</div>

				<div class="pregunta">
				<label class="vacioForm" for="foto_perfil">Modificar Foto de Perfil:</label>
				<input class="completarForm" type="text" id="foto_perfil" name="foto_perfil"><br>
				</div>

				<button class="boton" type="submit"><a href='/user/profile'>Guardar cambios</a></button>
			</form>
		</div>
	</div>

	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>

</html>